{%- macro render_section(section) -%}
<section id="{{section.id}}">
    {% if section.title is not none %}<h2>{{ section.title }}</h2>{% endif %}
    {% if section.description is not none %}<p>{{ section.description | safe }}</p>{% endif %}
    {%- for content in section.contents -%}
        {{ render_content(content) }}
    {%- endfor -%}
</section>
{%- endmacro -%}

{%- macro render_content(content) -%}
{% if content.header is not none %}<h3>{{ content.header }}</h3>{% endif %}
{% if content.description is not none %}<p>{{ content.description | safe }}</p>{% endif %}
{%- if content.type == "overview" -%}
    {{ render_overview(content.content) }}
{%- elif content.type == "images" -%}
    {{ render_images(content) }}
{%- elif content.type == "ar_size" -%}
    {{ render_ar_size(content.content) }}
{%- elif content.type == "recall" -%}
    {{ render_recall(content.content) }}
{%- elif content.type == "plot" -%}
    {{ render_plot(content.content) }}
{%- else -%}
    {{ content.content | safe }}
{%- endif -%}
{%- endmacro -%}

{%- macro render_overview(content) -%}
<div class="summary-container">
    <div class="summary-row">
        {%- for metric, value in content[0].items() -%}
        <div class="summary-item">
            <div class="summary-metric-title gradient">{{ metric }}</div>
            <div class="summary-metric-value">{{ value }}</div>
        </div>
        {%- endfor -%}
    </div>
    {%- for name, row in content[1] -%}
    {% if content[1] | length > 1 %}<h4>{{ name }}</h4>{% endif %}
    <div class="summary-row">
        {% for metric, value in row.items() %}
        {% if metric in ["Ground Truths", "Predictions"] %}
        <div class="break"></div>
        <div class="summary-item" style="flex-grow: 1">
            <div class="summary-metric-title gradient">{{ metric }}</div>
            <div class="summary-metric-value">
                <div class="summary-bar">
                    <span class="summary-bar-value">{{ value["total"] }}</span>
                    {% for color, count, info in value["bar"] %}
                    {% if loop.first %}
                    <div class="summary-bar-item first" style="flex-grow: {{ count }}; background-color: {{ color }};">
                    {% elif loop.last %}
                    <div class="summary-bar-item last" style="flex-grow: {{ count }}; background-color: {{ color }};">
                    {% else %}
                    <div class="summary-bar-item" style="flex-grow: {{ count }}; background-color: {{ color }};">
                    {% endif %}
                    <span class="label">{{ count }}</span><span class="tooltiptext">{{ info }}</span></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="summary-item">
            <div class="summary-metric-title gradient">{{ metric }}</div>
            <div class="summary-metric-value">{{ value }}</div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {%- endfor -%}
</div>
{%- endmacro -%}

{%- macro render_recall(content) -%}
{% set classwise_summary = content[0] %}
{% set error_type = content[1] %}
<div class="summary-row">
    {% for class_idx, individual_summary in classwise_summary.items() %}
        {% set error = individual_summary[error_type] %}
        {% set total_count = individual_summary["total_count"] %}
        <div class="summary-item">
            <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
            <div class="summary-metric-value">{{ error }} <span class="text-dark">| {{ total_count }}</span></div>
        </div>
    {% endfor %}
</div>
<p>Recall per class</p>
<div class="summary-row">
    {% for class_idx, individual_summary in classwise_summary.items() %}
        <div class="summary-item">
            <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
            <div class="summary-metric-value">{{ individual_summary['recall'] }}</span></div>
        </div>
    {% endfor %}
</div>
{%- endmacro -%}

{%- macro render_ar_size(content) -%}
{% set aspect_vars = content[0] %}
{% set size_vars = content[1] %}
<div class="summary-row">
    {% for class_idx, aspect_var in aspect_vars.items() %}
    <div class="summary-item">
        <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
        <div class="summary-metric-value">{{ aspect_var }}</div>
    </div>
    {% endfor %}
</div>
<p>
    Variance of object size (area) across MissedErrors
</p>
<div class="summary-row">
    {% for class_idx, size_var in size_vars.items() %}
    <div class="summary-item">
        <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
        <div class="summary-metric-value">{{ size_var }}</div>
    </div>
    {% endfor %}
</div>
{%- endmacro -%}

{%- macro render_images(content) -%}
{%- set grouped = content.data.get("grouped", false) -%}
{%- set images = content.content -%}
<div class="class-images">
    {%- if images.get("group_headers") is not none -%}
    <div class="class-images-groups"></div>
    {%- endif -%}
    {%- for _, (class_info, clusters) in images.items() -%}
        <div class="class-images-container">
            <div class="class-name">{{ class_info }}</div>
            {%- if grouped -%}
            {%- for cluster in clusters.values() -%}
            <div class="class-image-container" style="flex-basis: {{ 100 / (clusters | length) }}%">
                {%- for image_list in cluster -%}
                {%- for image_dict in image_list -%}
                <div class="class-image-wrapper">
                    {{ render_image(image_dict) }}
                </div>
                {%- endfor -%}
                {%- endfor -%}
                </div>
            {%- endfor -%}
            {%- else -%}
            <div class="class-image-container">
                {%- for cluster in clusters.values() -%}
                {%- for image_list in cluster -%}
                {%- for image_dict in image_list -%}
                <div class="class-image-wrapper">
                    {{ render_image(image_dict) }}
                </div>
                {%- endfor -%}
                {%- endfor -%}
                {%- endfor -%}
            </div>
            {% endif -%}
        </div>
    {% endfor %}
</div>
{%- endmacro -%}

{%- macro render_image(image) -%}
    <img class="class-image" src="data:image/png;base64,{{ image['image_base64'] | safe}}" alt="{{ image['alt'] }}">
    {% if image.get("caption") is not none %}<span class="data-tooltip">{{image["caption"]}}</span>{% endif %}
{%- endmacro -%}

{%- macro render_plot(content) -%}
<div class="plot">
    {%- if content.get("interactive") is true -%}{{ content['plot'] | safe}}
    {%- else -%}
    <img class="plot-image" src="data:image/png;base64,{{ content['plot'] | safe}}">
    {%- endif -%}
</div>
{%- endmacro -%}
