colorholder {
    background-color: #2C3333;
    background-color: #395B64;
    background-color: #A5C9CA;
    background-color: #E7F6F2;
    background-color: #00ffd9;
    background-color: #00b3ff;
}

a {
    color: #FFEECC;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

body {
    display: flex;
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin: 0 auto;
    background-color: #222222;
    color: #FFEECC;
    overflow: hidden;
    height: 100vh;
}

.code {
    background-color: #395B64;
    color: #00ffd9;
    font-family: 'Fira Code';
    font-size: 0.9em;
    padding: 0.1vh 0.25vw;
    border-radius: 0.4em;
}

.sidebar {
    background-color: #222222;
    padding-bottom: 2vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    padding: 2vh 2vw;
    word-wrap: break-word;
    white-space: normal;
}

.gradient, .sidebar-button:hover {
    background: #00b3ff;
    background: -moz-linear-gradient(45deg, #00ffd9 10%, #00b3ff 90%);
    background: -webkit-linear-gradient(45deg, #00ffd9 10%, #00b3ff 90%);
    background: linear-gradient(45deg, #00ffd9 10%, #00b3ff 90%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.text-dark {
    color: #395B64;
}

.light {
    font-weight: 300;
}

.infobox {
    margin: 2vh 0;
    color: #2C3333;
    background: #00b3ff;
    background: -moz-linear-gradient(45deg, #00ffd9 10%, #00b3ff 90%);
    background: -webkit-linear-gradient(45deg, #00ffd9 10%, #00b3ff 90%);
    background: linear-gradient(45deg, #00ffd9 10%, #00b3ff 90%);
    border-radius: 0.4em;
    padding: 2vh;
}

.infobox-title {
    font-weight: 700;
}

.sidebar-header {
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 5vh;
}

.sidebar-header .subtitle {
    color: #A5C9CA;
}

.main {
    scroll-behavior: smooth;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #222222;
    color: #FFEECC;
    padding: 2vh 5vw;
    width: 60%;
}

.main::-webkit-scrollbar {
    display: none;
}

.class-images {
    background-color: #2C3333;
    border-radius: 0.6em;
    padding: 0.5vh 1vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 1vh;
}

.class-images-container {
    border-radius: 0.4em;
    padding: 0.4vw;
    display: flex;
    flex-direction: column;
}

.class-image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.class-name {
    padding: 0 0.2vh 0.2vh 0.2vh;
}

.class-image-wrapper {
    display: flex;
    flex-direction: column;
}

.class-image {
    height: 10vh;
    width: 10vh;
    border-radius: 0.6em;
    padding: 0.4vh;
}

.class-image:hover{
    border-radius: 0;
    transform: scale(2);
    transition: 0.1s;
}

.class-image:hover + .data-tooltip {
    transform: scale(1.7);
    transition: 0.1s;
}

.data-tooltip {
    padding: 0.2vh 0.2vw;
    font-size: 0.3em;
    width: 10vh;
    text-align: center;
    word-wrap: break-word;
}

.plot-image {
    width: 500px;
}

.tooltip::after {
    width: 1em;
    height: 1em;
    display: inline-block;
    content: '🛈';
    padding-left: 0.5em;
    color: #7b949b;
}

.tooltiptext {
    --tooltip-width: 120px;
    --tooltip-opacity: 1;
    width: calc(var(--tooltip-width));
    background-color: rgba(85, 85, 85, var(--tooltip-opacity));
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: calc(-0.5 * var(--tooltip-width));
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* :has() only manually supported on firefox */
*:has(> .tooltiptext) {
    position: relative
}

*:not(:hover) .tooltiptext {
    visibility: hidden;
}

.summary-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.4vw;
}

.summary-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.4vw;
}

.summary-item {
    background-color: #2C3333;
    border-radius: 0.4em;
    padding: 1vh 1vh;
}

.summary-metric-title {
    position: relative;
}

.summary-metric-value {
    padding: 0.5vh;
    font-size: 1.5em;
    font-weight: 700;
}

.summary-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.summary-bar-value {
    padding-right: 0.5em;
}

.summary-bar-item > .label {
    vertical-align: middle;
    padding-left: 0.2em;
    font-size: small;
    color: #111111;
}

.summary-bar-item  .tooltiptext {
    --tooltip-width: 60px;
    --tooltip-opacity: 0.8;
    font-size: small;
}

.summary-bar-item.first {
    border-radius: 8px 0 0 8px;
}

.summary-bar-item.last {
    border-radius: 0 8px 8px 0;
}

.info-panel {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 3vh 3vh;
    width: 40%;
}

.info-panel-content-summary-image {
    width: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}
