<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <title>{{ title }}</title>
 <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Fira+Code:400' rel='stylesheet' type='text/css'>
 <style type="text/css">
    {% include "style.css" %}
 </style>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h1 class="title"><span class="gradient">Riptide</span><span class="light">Report</span></h1>
            <span class="subtitle">v0.1 | <a href="https://gitlab.com/bifrost-core/ai-team/riptide">source</a></span>
        </div>
        <div class="sidebar-items">
        {% for name in section_names %}
            <a class="sidebar-button" href="#{{ name }}">{{ name }}</a>
        {% endfor %}
        </div>
    </div>
    <div class="main">
        <div id="Overview">
            <h1>Overview</h1>
            <div class="summary-container">
                {% for metric, value in summary.items() %}
                    <div class="summary-item">
                        <div class="summary-metric-title gradient">{{ metric }}</div>
                        <div class="summary-metric-value">{{ value }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% for infobox in infoboxes %}
        <div class="infobox">
            <div class="infobox-title">{{ infobox['title'] }}</div>
            <div class="infobox-content">{{ infobox['content'] }}</div>
        </div>
        {% endfor %}
        <div id="BackgroundError">
            <h1>BackgroundError</h1>
            <p>List of all the false positive detections that are above the <span class="code">conf_threshold={{ summary["conf_threshold"] }}</span> but do not pass the <span class="code">bg_iou_threshold={{ summary["bg_iou_threshold"] }}</span>.</p>
            <div class="class-images">
            {% for class_int, image_list in background_error_figs.items() %}
                <div class="class-images-container">
                    <div class="class-name">Predicted: Class {{ class_int }}</div>
                    <div class="class-image-container">
                        {% for image_dict in image_list %}
                        <div class="class-image-wrapper">
                            <img class="class-image" src="data:image/png;base64,{{ image_dict['image_base64'] | safe}}">
                            <span class="data-tooltip">{{ image_dict["image_name"] }} | Class {{ image_dict["class"] }} | Conf {{ image_dict["confidence"] }} | W{{ image_dict["bbox_width"] }} | H{{ image_dict["bbox_height"] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="ClassificationError">
            <h1>ClassificationError</h1>
            {% if classification_error_plot is not none %}
            <h2>ClassificationError ranking</h2>
            <p>
                The following plot shows the distribution of classification errors.
            </p>
            <div class="plot">
                <img class="plot-image" src="data:image/png;base64,{{ classification_error_plot | safe}}">
            </div>
            {% endif %}
            <div class="class-images">
            {% for class_int, image_list in classification_error_figs.items() %}
                <div class="class-images-container">
                    <div class="class-name">Ground Truth: Class {{ class_int }}</div>
                    <div class="class-image-container">
                        {% for image_dict in image_list %}
                        <div class="class-image-wrapper">
                            <img class="class-image" src="data:image/png;base64,{{ image_dict['image_base64'] | safe}}">
                            <span class="data-tooltip">{{ image_dict["image_name"] }} | Pred: Class {{ image_dict["pred_class"] }} | Conf {{ image_dict["confidence"] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="LocalizationError">
            <h1>LocalizationError</h1>

            <h2>LocalizationError visualization</h2>
            <p>
                The following is a montage of the localization errors.
            </p>
            <div class="class-images">
            {% for class_int, image_list in localization_error_figs.items() %}
                <div class="class-images-container">
                    <div class="class-name">Ground Truth: Class {{ class_int }}</div>
                    <div class="class-image-container">
                        {% for image_dict in image_list %}
                        <div class="class-image-wrapper">
                            <img class="class-image" src="data:image/png;base64,{{ image_dict['image_base64'] | safe}}">
                            <span class="data-tooltip">{{ image_dict["image_name"] }} | Class {{ image_dict["class"] }} | W{{ image_dict["bbox_width"] }} | H{{ image_dict["bbox_height"] }} | IOU {{ image_dict["iou"] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
        <div id="ClassificationAndLocalizationError">
            <h1>ClassificationAndLocalizationError</h1>
            {% if classification_and_localization_error_plot is not none %}
            <h2>ClassificationAndLocalizationError ranking</h2>
            <p>
                The following plot shows the distribution of classification and localization errors.
            </p>
            <div class="plot">
                <img class="plot-image" src="data:image/png;base64,{{ classification_and_localization_error_plot | safe}}">
            </div>
            {% endif %}
            <h2>ClassificationAndLocalizationError visualization</h2>
            <p>
                The following is a montage of the classification and localization errors.
            </p>
            <div class="class-images">
            {% for class_int, image_list in classification_and_localization_error_figs.items() %}
                <div class="class-images-container">
                    <div class="class-name">Ground Truth: Class {{ class_int }}</div>
                    <div class="class-image-container">
                        {% for image_dict in image_list %}
                        <div class="class-image-wrapper">
                            <img class="class-image" src="data:image/png;base64,{{ image_dict['image_base64'] | safe}}">
                            <span class="data-tooltip">{{ image_dict["image_name"] }} | Class {{ image_dict["class"] }} | W{{ image_dict["bbox_width"] }} | H{{ image_dict["bbox_height"] }} | IOU {{ image_dict["iou"] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
        <div id="DuplicateError">
            <h1>DuplicateError</h1>
        </div>
        <div id="MissedError">
            <h1>MissedError</h1>
            <h2>Classwise MissedErrors and recall</h2>
            <p>
                Number of MissedErrors per class | number of total objects per class
            </p>
            <div class="summary-container">
                {% for class_idx, individual_summary in classwise_summary.items() %}
                    {% set missed_error = individual_summary["MissedError"] %}
                    {% set total_count = individual_summary["total_count"] %}
                    <div class="summary-item">
                        <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
                        <div class="summary-metric-value">{{ missed_error }} <span class="text-dark">| {{ total_count }}</span></div>
                    </div>
                {% endfor %}
            </div>
            <p>
                Recall per class
            </p>
            <div class="summary-container">
                {% for class_idx, individual_summary in classwise_summary.items() %}
                    <div class="summary-item">
                        <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
                        <div class="summary-metric-value">{{ individual_summary['recall'] }}</span></div>
                    </div>
                {% endfor %}
            </div>
            <h2>Aspect ratio and size variance</h2>
            <p>
                Variance of aspect ratios across MissedErrors
            </p>
            <div class="summary-container">
                {% for class_idx, aspect_var in missed_aspect_var.items() %}
                <div class="summary-item">
                    <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
                    <div class="summary-metric-value">{{ aspect_var }}</div>
                </div>
                {% endfor %}
            </div>
            <p>
                Variance of object size (area) across MissedErrors
            </p>
            <div class="summary-container">
                {% for class_idx, size_var in missed_size_var.items() %}
                <div class="summary-item">
                    <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
                    <div class="summary-metric-value">{{ size_var }}</div>
                </div>
                {% endfor %}
            </div>
            {% if missed_error_plot is not none %}
            <h2>MissedError ranking</h2>
            <p>
                The following plot shows the size (area) distribution of missed errors for each class.
                The presence of outliers in this plot indicates the misses may be caused by extreme object sizes.
            </p>
            <div class="plot">
                <img class="plot-image" src="data:image/png;base64,{{ missed_error_plot | safe}}">
            </div>
            {% endif %}
            <h2>MissedError visualization</h2>
            <p>List of all the false negative detections. No prediction was made above <span class="code">conf_threshold={{ summary["conf_threshold"] }}</span> that had IoU above <span class="code">bg_iou_threshold={{ summary["bg_iou_threshold"] }}</span> (otherwise it would be considered a LocalizationError).</p>
            <div class="class-images">
            {% for class_int, image_list in missed_error_figs.items() %}
                <div class="class-images-container">
                    <div class="class-name">Missed: Class {{ class_int }}</div>
                    <div class="class-image-container">
                        {% for image_dict in image_list %}
                        <div class="class-image-wrapper">
                            <img class="class-image" src="data:image/png;base64,{{ image_dict['image_base64'] | safe}}">
                            <span class="data-tooltip">{{ image_dict["image_name"] }} | Class {{ image_dict["class"] }} | W{{ image_dict["bbox_width"] }} | H{{ image_dict["bbox_height"] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="TruePositive">
            <h1>True Positives</h1>
            <h2>Classwise True Positives</h2>
            <p>
                Number of True Positives per class | number of total objects per class
            </p>
            <div class="summary-container">
                {% for class_idx, individual_summary in classwise_summary.items() %}
                    {% set true_positives = individual_summary.get("true_positives", 0) %}
                    {% set total_count = individual_summary.get("total_count", 0) %}
                    <div class="summary-item">
                        <div class="summary-metric-title gradient">Class {{ class_idx }}</div>
                        <div class="summary-metric-value">{{ true_positives }} <span class="text-dark">| {{ total_count }}</span></div>
                    </div>
                {% endfor %}
            </div>
            <h2>True Positives visualization</h2>
            <p>List of all the True Positives detections. No prediction was made below <span class="code">conf_threshold={{ summary["conf_threshold"] }}</span>.</p>
            <div class="class-images">
            {% for class_int, image_list in true_positive_figs.items() %}
                <div class="class-images-container">
                    <div class="class-name">True Positives: Class {{ class_int }}</div>
                    <div class="class-image-container">
                        {% for image_dict in image_list %}
                        <div class="class-image-wrapper">
                            <img class="class-image" src="data:image/png;base64,{{ image_dict['image_base64'] | safe}}">
                            <span class="data-tooltip">{{ image_dict["image_name"] }} | Class {{ image_dict["class"] }} | W{{ image_dict["bbox_width"] }} | H{{ image_dict["bbox_height"] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="info-panel">
        <div class="info-panel-header">
            <h2>Error Info</h2>
        </div>
        <div class="info-panel-content">
            {% for error_type, info in error_info.items() %}
                <div class="info-panel-content-summary">
                    <div class="info-panel-content-summary-title">
                        {{ error_type }}
                    </div>
                    {% for info_type, info_value in info.items() %}
                        {% if info_value is not none %}
                        <img class="info-panel-content-summary-image" src="data:image/png;base64,{{ info_value | safe }}">
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
